
USE [ECommBlind]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 20-Mar-24 15:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[id] [varchar](50) NULL,
	[pass] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 20-Mar-24 15:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[PID] [varchar](50) NULL,
	[ProductName] [varchar](50) NULL,
	[Qty] [varchar](50) NULL,
	[Cost] [varchar](50) NULL,
	[TotCost] [varchar](50) NULL,
	[UID] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20-Mar-24 15:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Cid] [varchar](50) NULL,
	[Category] [varchar](100) NULL,
	[SubCategory] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 20-Mar-24 15:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OID] [varchar](50) NULL,
	[ProductName] [varchar](max) NULL,
	[Qty] [varchar](80) NULL,
	[Cost] [varchar](80) NULL,
	[UID] [varchar](80) NULL,
	[Date] [varchar](max) NULL,
	[Time] [varchar](max) NULL,
	[Status] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 20-Mar-24 15:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[Uid] [varchar](50) NOT NULL,
	[Pid] [varchar](50) NOT NULL,
	[CardNo] [varchar](50) NOT NULL,
	[CVV] [varchar](50) NOT NULL,
	[BankName] [varchar](50) NOT NULL,
	[Branch] [varchar](50) NOT NULL,
	[ProductName] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20-Mar-24 15:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Pid] [varchar](80) NULL,
	[ProductName] [varchar](max) NULL,
	[Cost] [varchar](80) NULL,
	[Category] [varchar](100) NULL,
	[SubCategory] [varchar](100) NULL,
	[Description] [varchar](max) NULL,
	[Image] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20-Mar-24 15:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Uid] [varchar](50) NULL,
	[Username] [varchar](max) NULL,
	[Email] [varchar](100) NULL,
	[Contact] [varchar](100) NULL,
	[Address] [varchar](max) NULL,
	[Age] [varchar](50) NULL,
	[Password] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[admin] ([id], [pass]) VALUES (N'admin', N'admin')
GO
INSERT [dbo].[Cart] ([PID], [ProductName], [Qty], [Cost], [TotCost], [UID]) VALUES (N'4', N'Printed T-shirt', N'1', N'419', N'419', N'103')
GO
INSERT [dbo].[Category] ([Cid], [Category], [SubCategory]) VALUES (N'1', N'Electronics', N'Mobile')
INSERT [dbo].[Category] ([Cid], [Category], [SubCategory]) VALUES (N'2', N'Electronics', N'TV')
INSERT [dbo].[Category] ([Cid], [Category], [SubCategory]) VALUES (N'3', N'Home Appliances', N'Inverters')
GO
INSERT [dbo].[Orders] ([OID], [ProductName], [Qty], [Cost], [UID], [Date], [Time], [Status]) VALUES (N'8', N' Leather Wallet : 600', N'1', N'600', N'101', N'2019-01-18', N'11:56', N'Ordered')
INSERT [dbo].[Orders] ([OID], [ProductName], [Qty], [Cost], [UID], [Date], [Time], [Status]) VALUES (N'9', N' Printed T-shirt: 419, Poloport Wayfarer Sunglasses: 275', N'1', N'694', N'101', N'2019-01-18', N'11:58', N'Ordered')
INSERT [dbo].[Orders] ([OID], [ProductName], [Qty], [Cost], [UID], [Date], [Time], [Status]) VALUES (N'10', N'Poloport Wayfarer Sunglasses', N'1', N'275', N'101', N'2019-01-18', N'13:07', N'Ordered')
GO
INSERT [dbo].[PaymentDetails] ([Uid], [Pid], [CardNo], [CVV], [BankName], [Branch], [ProductName]) VALUES (N'System.Web.UI.WebControls.HiddenField', N'4', N'1236547896541258', N'123', N'Axis Bank', N'Kandivali', N'Printed T-shirt')
INSERT [dbo].[PaymentDetails] ([Uid], [Pid], [CardNo], [CVV], [BankName], [Branch], [ProductName]) VALUES (N'System.Web.UI.WebControls.HiddenField', N'4', N'2135467894561230', N'122', N'Axis Bank', N'Fort', N'Printed T-shirt')
INSERT [dbo].[PaymentDetails] ([Uid], [Pid], [CardNo], [CVV], [BankName], [Branch], [ProductName]) VALUES (N'101', N'4', N'123459874125632', N'456', N'Axis Bank', N'Fort', N'Printed T-shirt')
GO
INSERT [dbo].[Product] ([Pid], [ProductName], [Cost], [Category], [SubCategory], [Description], [Image]) VALUES (N'1', N'Poloport Wayfarer Sunglasses', N'275', N'Accessories', N'Sun Glasses', N'It is used for Driving, Running, Style, Biking, Eye Protection and Frame Size is free size', NULL)
INSERT [dbo].[Product] ([Pid], [ProductName], [Cost], [Category], [SubCategory], [Description], [Image]) VALUES (N'2', N'Elligator Round Sunglasses', N'242', N'Accessories', N'Sun Glasses', N'It is used for Driving, Running, Style, Biking, Eye Protection and Frame Size is free size', NULL)
INSERT [dbo].[Product] ([Pid], [ProductName], [Cost], [Category], [SubCategory], [Description], [Image]) VALUES (N'3', N'Leather Wallet ', N'600', N'Accessories', N'Wallets', N'Men and Women Curewe Designer PU Leather Long Black Zipper Wallet.', NULL)
GO
INSERT [dbo].[User] ([Uid], [Username], [Email], [Contact], [Address], [Age], [Password]) VALUES (N'101', N'Test', N'test@gmail.com', N'1234567890', N'Test', N'12', N'1234')
INSERT [dbo].[User] ([Uid], [Username], [Email], [Contact], [Address], [Age], [Password]) VALUES (N'102', N'Amey', N'aditid197@gmail.com', N'9645781245', N'Kandivali,Mumbai', N'13', N'123')
INSERT [dbo].[User] ([Uid], [Username], [Email], [Contact], [Address], [Age], [Password]) VALUES (N'106', N'Abcd', N'abcd@gmail.com', N'9874563215', N'Kandivali', N'25', N'12345')
GO
USE [master]
GO
