<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageMain.master.cs" Inherits="MasterPageMain" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    /*background-image: url("images/Banner.PNG");*/
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div class="w3-top">
              <div class="w3-bar w3-white w3-card" id="myNavbar">
                  <asp:Panel ID="Panel1" runat="server">
                    <a href="Home.aspx" class="w3-bar-item w3-button w3-wide" style="text-decoration-line:none"><b>
                        <%--<asp:Image ID="Image2" ImageUrl="~/images/Logo.jpg" Width="40px" Height="40px" runat="server" />&nbsp;&nbsp;--%>E Commerce for Visually Challenged</b></a>
                    <!-- Right-sided navbar links -->
                    <div class="w3-right w3-hide-small">
                      <a href="Home.aspx" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
                      <a href="AboutUs.aspx" class="w3-bar-item w3-button"><i class="fa fa-user"></i> About Us</a>
                      <a href="ContactUs.aspx" class="w3-bar-item w3-button"><i class="fa fa-phone"></i> Contact Us</a>
                      <a href="Login.aspx" class="w3-bar-item w3-button"><i class="fa fa-sign-in"></i> Login</a>
                    </div>
                   </asp:Panel>

                  <asp:Panel ID="Panel2" runat="server">
                    <a href="#" class="w3-bar-item w3-button w3-wide"><b>E Commerce for Visually Challenged</b></a>
                    <!-- Right-sided navbar links -->
                    <div class="w3-right w3-hide-small">
                        <a href="AddCategory.aspx?type=admin" class="w3-bar-item w3-button"><i class="fa fa-pencil-square"></i> Manage Category</a>
                        <a href="AddProduct.aspx?type=admin" class="w3-bar-item w3-button"><i class="fa fa-plus-square"></i> Add Product</a>
                        <a href="ManageProduct.aspx?type=admin" class="w3-bar-item w3-button"><i class="fa fa-pencil-square"></i> Manage Products</a>
                      <a href="ViewOrders.aspx?type=admin" class="w3-bar-item w3-button"><i class="fa fa-truck"></i> Orders</a>
                        <a href="UserDetails.aspx?type=admin" class="w3-bar-item w3-button"><i class="fa fa-user-circle"></i> Users</a>
                      <a href="Logout.aspx" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>
                   </asp:Panel>

                  <asp:Panel ID="Panel3" runat="server">
                    <a href="#home" class="w3-bar-item w3-button w3-wide"><b>E Commerce for Visually Challenged</b></a>
                    <!-- Right-sided navbar links -->
                    <%--<div class="w3-right w3-hide-small">
                      <a  class="w3-bar-item w3-button" id="view_products" runat="server"><i class="fa fa-list"></i> View Products</a>
                      <a href="UserCart.aspx" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart"></i> Cart & Purchase</a>
                      <a href="ViewOrders.aspx" class="w3-bar-item w3-button"><i class="fa fa-truck"></i> View Orders</a>
                        <a href="WriteFeedback.aspx" class="w3-bar-item w3-button"><i class="fa fa-commenting-o"></i> Write Feedback</a>
                        <a href="Logout.aspx" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> Logout</a>
                    </div>--%>
                  </asp:Panel>

                  <asp:Panel ID="Panel4" runat="server">
                      <a href="Home.aspx" class="w3-bar-item w3-button w3-wide" style="text-decoration-line:none"><b>E Commerce for Visually Challenged</b></a>
                  </asp:Panel>

                <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                  <i class="fa fa-bars"></i>
                </a>
              </div>
            </div>
            <br />
            <br />
       
        <asp:HiddenField ID="type" runat="server" />

        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
        <br />
            <br />
            <footer class=" w3-black">
                <p align="right">E Commerce for Visually Challenged || Your Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </footer>
    </div>
    </form>
</body>
</html>
